<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<display-name>RegistrationServlet</display-name>
		<description></description>
		<servlet-class>in.greendev.dsp2017.model.controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogInServlet</servlet-name>
		<display-name>LogInServlet</display-name>
		<description></description>
		<servlet-class>in.greendev.dsp2017.model.controller.LogInServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoogleLogInServlet</servlet-name>
		<display-name>GoogleLogInServlet</display-name>
		<description></description>
		<servlet-class>in.greendev.dsp2017.model.controller.GoogleLogInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogInServlet</servlet-name>
		<url-pattern>/LogInServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoogleLogInServlet</servlet-name>
		<url-pattern>/GoogleLogInServlet</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Entire application</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
